body{
	 background: white;
	align-content: center;
	width:100%;
	height:100px;
	
}

#head{
	margin-left:100px;
	margin-top:200px;
	position: relative;


}

h1{
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-weight:400;
	margin-top:-50px;

}
p{
	color:white;
	font-family: 'IBM Plex Mono', monospace;
	width:700px;
	height:auto;
	line-height:2;

}
.box{
	  width:1200px;
	  height:3px;
	  background-color:white;
	  margin-left:-50px;
	  margin-top:50px;
}
.box1{
	  width:1200px;
	  height:3px;
	  background-color:white;
	  margin-left:-50px;
	  margin-top:120px;
}
#container{
	        position: relative;
	        height: 1900px;
	        width: 700px;
	        margin-left:100px;
	        margin-top:100px;
	        align-self:center;
	        zoom:150%;
}





.A{
	float: left;
	width: 110px;
	height: 120px;
    position: absolute;
  margin-left: 0px;
  margin-top: 0px;
    transition: transform 0.8s;

}
.A0{
	float: left;
	width: 110px;
	height: 120px;
    position: absolute;
    margin-left:0px;
    margin-top:0px;
    transition: transform 0.8s;

    

   
      
}

.A1{
	float: left;
	width: 110px;
	height: 120px;
    margin-left:0px;
    margin-top:0px;
    position: absolute;
    transition: transform 0.8s;
    

}
.A2{
	float: left;
	width: 110px;
	height: 120px;
    margin-left:0px;
    margin-top:0px;
    position: absolute;
    transition: transform 0.8s;
    
    


}
.A3{
	float: left;
	width: 110px;
	height: 120px;
    margin-left:0px;
    margin-top:0px;
    position: absolute;
   transition: transform 0.8s;


}
.A4{
	float: left;
	width: 110px;
	height: 120px;
    margin-left:0px;
    margin-top:0px;
    position: absolute;
    transition: transform 0.8s;
   }
.A4:hover {
      transform: translate(20px, 20px);
  }
.A3:hover {
      transform: translate(20px, 20px);
  }
.A2:hover {
      transform: translate(20px, 20px);
  }
.A1:hover {
      transform: translate(20px, 20px);
  }
.A0:hover {
      transform: translate(20px, 20px);
  }
.A:hover {
      transform: translate(20px, 20px);
  }

.B00{
	float: left;
	width: 110px;
	height: 120px;
    position: absolute;
    margin-left:0px;
    transition: transform 0.8s;
    
}
.B0{
	float: left;
	width: 110px;
	height: 120px;
    position:absolute;
    margin-left:0px;
    margin-top: 0px;
    transition: transform 0.8s;
}
.B1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:-60px;
    margin-top:-2px;
    transition: transform 0.8s;
}


.B2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:-60px;
    margin-top: -2px;
    transition: transform 0.8s;

}
.B3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:-60px;
    margin-top: -2px;
    z-index: 1;
    transition: transform 0.8s;


}
.B4{
	float: left;
	width: 110px;
	height: 120px;
    position: absolute;
    margin-left:200px;
    margin-top: 0px;
    transition: transform 0.8s;
}
.B4:hover {
      transform: translate(20px, 20px);
  }
.B3:hover {
      transform: translate(20px, 20px);
  }
.B2:hover {
      transform: translate(20px, 20px);
  }
.B1:hover {
      transform: translate(20px, 20px);
  }
.B0:hover {
      transform: translate(20px, 20px);
  }
.B00:hover {
      transform: translate(20px, 20px);
  }
.C{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:380px;

}
.C{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
     margin-top:-120px;
    transition: transform 0.8s;

}
.C0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
     margin-top:-120px;
    transition: transform 0.8s;

}
.C1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
     margin-top:-120px;
    transition: transform 0.8s;

}
.C2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
     margin-top:-120px;
    transition: transform 0.8s;

}
.C3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
     margin-top:-120px;
    transition: transform 0.8s;

}
.C4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:380px;
    transition: transform 0.8s;

}

.C4:hover {
      transform: translate(20px, 20px);
  }
.C3:hover {
      transform: translate(20px, 20px);
  }
.C2:hover {
      transform: translate(20px, 20px);
  }
.C1:hover {
      transform: translate(20px, 20px);
  }
.C0:hover {
      transform: translate(20px, 20px);
  }
.C:hover {
      transform: translate(20px, 20px);
  }

.D{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    
    transition: transform 0.8s;

}
.D0{
	float: left;
	width: 110px;
	height: 120px;
	 margin-top: -120px;
    position: relative;
    transition: transform 0.8s;

}
.D1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    transition: transform 0.8s;

}
.D2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    transition: transform 0.8s;

}
.D3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
   margin-top: -120px;

}
.D4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:70px;
    transition: transform 0.8s;
}
.D4:hover {
      transform: translate(20px, 20px);
  }
.D3:hover {
      transform: translate(20px, 20px);
  }
.D2:hover {
      transform: translate(20px, 20px);
  }
.D1:hover {
      transform: translate(20px, 20px);
  }
.D0:hover {
      transform: translate(20px, 20px);
  }
.D:hover {
      transform: translate(20px, 20px);
  }


.E{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px;

     transition: transform 0.8s;


}
.E0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     transition: transform 0.8s;
     margin-left:0px;
    margin-top:-120px;



}
.E1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     transition: transform 0.8s;
     margin-left:0px;
    margin-top:-120px;

}
.E2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     transition: transform 0.8s;
     margin-left:0px;
    margin-top:-120px;


}
.E3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:0px;
    margin-top:-120px;
     transition: transform 0.8s;


}
.E4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:80px;
     transition: transform 0.8s;


}
.E4:hover {
      transform: translate(20px, 20px);
  }
.E3:hover {
      transform: translate(20px, 20px);
  }
.E2:hover {
      transform: translate(20px, 20px);
  }
.E1:hover {
      transform: translate(20px, 20px);
  }
.E0:hover {
      transform: translate(20px, 20px);
  }
.E:hover {
      transform: translate(20px, 20px);
  }
.F{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    transition: transform 0.8s;

}
.F0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    transition: transform 0.8s;

}

.F1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    transition: transform 0.8s;

}
.F2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    transition: transform 0.8s;

}
.F3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    transition: transform 0.8s;

}
.F4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-left:90px;
    margin-top:80px;
    transition: transform 0.8s;

}

 .F4:hover {transform: translate(20px, 20px);
  }
.F3:hover {
      transform: translate(20px, 20px);
  }
.F2:hover {
      transform: translate(20px, 20px);
  }
.F1:hover {
      transform: translate(20px, 20px);
  }
.F0:hover {
      transform: translate(20px, 20px);
  }
.F:hover {
      transform: translate(20px, 20px);
  }

.G{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top:-123px;
   margin-left:0px;


}
.G0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top:-123px;
   margin-left:0px;


}
.G1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
   margin-top:-123px;
   margin-left:0px;

}
.G2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
margin-top:-123px;
   margin-left:0px;

}
.G3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top:-123px;
   margin-left:0px;

}
.G4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top:80px;
   margin-left:70px;
    transition: transform 0.8s;

}

 .G4:hover {transform: translate(20px, 20px);
  }
.G3:hover {
      transform: translate(20px, 20px);
  }
.G2:hover {
      transform: translate(20px, 20px);
  }
.G1:hover {
      transform: translate(20px, 20px);
  }
.G0:hover {
      transform: translate(20px, 20px);
  }
.G:hover {
      transform: translate(20px, 20px);
  }
.H{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
   margin-top: -120px;


}
.H0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;


}
.H1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;


}
.H2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;

}
.H3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;


}
.H4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-left: 70px;
    margin-top: 80px;


}
.H4:hover {transform: translate(20px, 20px);
  }
.H3:hover {
      transform: translate(20px, 20px);
  }
.H2:hover {
      transform: translate(20px, 20px);
  }
.H1:hover {
      transform: translate(20px, 20px);
  }
.H0:hover {
      transform: translate(20px, 20px);
  }
.H:hover {
      transform: translate(20px, 20px);
  }
.I{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -174px;

    transition: transform 0.8s;

}
.I0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
   margin-top: -174px;


}
.I1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -174px;

}
.I2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -174px;


}
.I3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -174px;

}
.I4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    transition: transform 0.8s;

}
.I4:hover {transform: translate(20px, 20px);
  }
.I3:hover {
      transform: translate(20px, 20px);
  }
.I2:hover {
      transform: translate(20px, 20px);
  }
.I1:hover {
      transform: translate(20px, 20px);
  }
.I0:hover {
      transform: translate(20px, 20px);
  }
.I:hover {
      transform: translate(20px, 20px);
  }
.J{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
   margin-top: -120px;
 

}
.J0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;


}
.J1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;


}
.J2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   transition: transform 0.8s;
   margin-top: -120px;


}
.J3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    transition: transform 0.8s;
    margin-top: -120px;

}
.J4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:90px;
    margin-top:80px;
    transition: transform 0.8s;

}
.J4:hover {transform: translate(20px, 20px);
  }
.J3:hover {
      transform: translate(20px, 20px);
  }
.J2:hover {
      transform: translate(20px, 20px);
  }
.J1:hover {
      transform: translate(20px, 20px);
  }
.J0:hover {
      transform: translate(20px, 20px);
  }
.J:hover {
      transform: translate(20px, 20px);
  }

.K{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
     transition: transform 0.8s;

}
.K{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
     transition: transform 0.8s;
      margin-left:0px;
     margin-top:-172px;

}
.K0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
     transition: transform 0.8s;
      margin-left:0px;
     margin-top:-172px;

}
.K1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
     transition: transform 0.8s;
      margin-left:0px;
     margin-top:-172px;

}
.K2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
     transition: transform 0.8s;
      margin-left:0px;
     margin-top:-172px;

}
.K3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
     transition: transform 0.8s;
     margin-left:0px;
     margin-top:-172px;

}
.K4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left: 70px;
    margin-top: 78px;
     transition: transform 0.8s;
    

}
.K4:hover {transform: translate(20px, 20px);
  }
.K3:hover {
      transform: translate(20px, 20px);
  }
.K2:hover {
      transform: translate(20px, 20px);
  }
.K1:hover {
      transform: translate(20px, 20px);
  }
.K0:hover {
      transform: translate(20px, 20px);
  }
.K:hover {
      transform: translate(20px, 20px);
  }

.L{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    
    transition: transform 0.8s;

}
.L0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    
    transition: transform 0.8s;

}
.L1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    
    transition: transform 0.8s;

}
.L2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
  margin-left:0px;
    margin-top:-120px; 
    
    transition: transform 0.8s;

}
.L3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    
    transition: transform 0.8s;

}
.L4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:70px;
    margin-top:80px; 
    transition: transform 0.8s;

}
.L4:hover {transform: translate(20px, 20px);
  }
.L3:hover {
      transform: translate(20px, 20px);
  }
.L2:hover {
      transform: translate(20px, 20px);
  }
.L1:hover {
      transform: translate(20px, 20px);
  }
.L0:hover {
      transform: translate(20px, 20px);
  }
.L:hover {
      transform: translate(20px, 20px);
  }



.M{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.M0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.M1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.M2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.M3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.M4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:-10px;
    transition: transform 0.8s;

}
.M4:hover {transform: translate(20px, 20px);
  }
.M3:hover {
      transform: translate(20px, 20px);
  }
.M2:hover {
      transform: translate(20px, 20px);
  }
.M1:hover {
      transform: translate(20px, 20px);
  }
.M0:hover {
      transform: translate(20px, 20px);
  }
.M:hover {
      transform: translate(20px, 20px);
  }

.N{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.N10{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
   
    transition: transform 0.8s;

}
.N1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.N2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.N4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:95px;
    transition: transform 0.8s;

}
.N4:hover {transform: translate(20px, 20px);
  }
.N3:hover {
      transform: translate(20px, 20px);
  }
.N2:hover {
      transform: translate(20px, 20px);
  }
.N1:hover {
      transform: translate(20px, 20px);
  }
.N10:hover {
      transform: translate(20px, 20px);
  }
.N:hover {
      transform: translate(20px, 20px);
  }
.O{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-122px;
    transition: transform 0.8s;
}
.O4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:70px;
    margin-top:75px;
    transition: transform 0.8s;

}
.O0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:0px;
    margin-top:-122px;
    transition: transform 0.8s;

}
.O1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-122px;
    transition: transform 0.8s;

}
.O2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-122px;
    transition: transform 0.8s;

}
.O3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:0px;
    margin-top:-122px;
    transition: transform 0.8s;

}

.O4:hover {transform: translate(20px, 20px);
  }
.O3:hover {
      transform: translate(20px, 20px);
  }
.O2:hover {
      transform: translate(20px, 20px);
  }
.O1:hover {
      transform: translate(20px, 20px);
  }
.O0:hover {
      transform: translate(20px, 20px);
  }
.O:hover {
      transform: translate(20px, 20px);
  }
.P{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.P0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.P1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.P2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.P3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.P4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:70px;
    margin-top:80px; 
    transition: transform 0.8s;

}
.P4:hover {transform: translate(20px, 20px);
  }
.P3:hover {
      transform: translate(20px, 20px);
  }
.P2:hover {
      transform: translate(20px, 20px);
  }
.P1:hover {
      transform: translate(20px, 20px);
  }
.P0:hover {
      transform: translate(20px, 20px);
  }
.P:hover {
      transform: translate(20px, 20px);
  }

.Q{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.Q0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.Q1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.Q2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-124px;
    margin-left:0px;
    transition: transform 0.8s;

}
.Q3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-124px;
    margin-left:0px;
    transition: transform 0.8s;

}
.Q4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:5px;
    transition: transform 0.8s;

}
.Q4:hover {transform: translate(20px, 20px);
  }
.Q3:hover {
      transform: translate(20px, 20px);
  }
.Q2:hover {
      transform: translate(20px, 20px);
  }
.Q1:hover {
      transform: translate(20px, 20px);
  }
.Q0:hover {
      transform: translate(20px, 20px);
  }
.Q:hover {
      transform: translate(20px, 20px);
  }
.R{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;
}
.R0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.R1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.R2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.R3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-122px;
    margin-left:0px;
    transition: transform 0.8s;

}
.R4{
	float: left;
	width: 110px;
	height: 120px;
    margin-top: 80px;
    margin-left:85px;
    transition: transform 0.8s;
    
}
.R4:hover {transform: translate(20px, 20px);
  }
.R3:hover {
      transform: translate(20px, 20px);
  }
.R2:hover {
      transform: translate(20px, 20px);
  }
.R1:hover {
      transform: translate(20px, 20px);
  }
.R0:hover {
      transform: translate(20px, 20px);
  }
.R:hover {
      transform: translate(20px, 20px);
  }
.S{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px;
    transition: transform 0.8s;
}
.S0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px;
    transition: transform 0.8s;
}
.S1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px;
    transition: transform 0.8s;
}
.S2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px;
    transition: transform 0.8s;
}
.S3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px;
    transition: transform 0.8s;
}  
.S4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:70px;
    margin-top:80px;
    transition: transform 0.8s;
}
.S4:hover {transform: translate(20px, 20px);
  }
.S3:hover {
      transform: translate(20px, 20px);
  }
.S2:hover {
      transform: translate(20px, 20px);
  }
.S1:hover {
      transform: translate(20px, 20px);
  }
.S0:hover {
      transform: translate(20px, 20px);
  }
.S:hover {
      transform: translate(20px, 20px);
  }

.T{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;

}
.T0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;
}
.T1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;

}
.T22{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;
}
.T33{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;

}
.T4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:65px;
    margin-top:80px; 
    transition: transform 0.8s;

}
.T4:hover {transform: translate(20px, 20px);
  }
.T33:hover {
      transform: translate(20px, 20px);
  }
.T22:hover {
      transform: translate(20px, 20px);
  }
.T1:hover {
      transform: translate(20px, 20px);
  }
.T0:hover {
      transform: translate(20px, 20px);
  }
.T:hover {
      transform: translate(20px, 20px);
  }

.U{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.U0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.U1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.U2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.U3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.U4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:5px;
    transition: transform 0.8s;

}
.U4:hover {transform: translate(20px, 20px);
  }
.U3:hover {
      transform: translate(20px, 20px);
  }
.U2:hover {
      transform: translate(20px, 20px);
  }
.U1:hover {
      transform: translate(20px, 20px);
  }
.U0:hover {
      transform: translate(20px, 20px);
  }
.U:hover {
      transform: translate(20px, 20px);
  }


.V{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.V0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.V1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.V2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.V3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;

}
.V4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:85px;
    transition: transform 0.8s;

}
.V4:hover {transform: translate(20px, 20px);
  }
.V3:hover {
      transform: translate(20px, 20px);
  }
.V2:hover {
      transform: translate(20px, 20px);
  }
.V1:hover {
      transform: translate(20px, 20px);
  }
.V0:hover {
      transform: translate(20px, 20px);
  }
.V:hover {
      transform: translate(20px, 20px);
  }
.W{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-left:0px;
    margin-top:-172px;
    transition: transform 0.8s;
}
.W0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-left:0px;
    margin-top:-172px;
    transition: transform 0.8s;
}
.W1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-left:0px;
    margin-top:-172px;
    transition: transform 0.8s;
    
}
.W2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-left:0px;
    margin-top:-172px;
    transition: transform 0.8s;
}
.W3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-172px;
    transition: transform 0.8s;

}
.W4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:60px;
    margin-top:80px;
    transition: transform 0.8s;
    

}
.W4:hover {transform: translate(20px, 20px);

  }
.W3:hover {
      transform: translate(20px, 20px);
  }
.W2:hover {
      transform: translate(20px, 20px);
  }
.W1:hover {
      transform: translate(20px, 20px);
  }
.W0:hover {
      transform: translate(20px, 20px);
  }
.W:hover {
      transform: translate(20px, 20px);
  }
.X{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-172px; 
    transition: transform 0.8s;

}
.X0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-172px; 
    transition: transform 0.8s;

}
.X1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-172px; 
    transition: transform 0.8s;

}
.X2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-172px; 
    transition: transform 0.8s;


}
.X3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-left:0px;
    margin-top:-172px; 
    transition: transform 0.8s;

}
.X4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:65px;
    margin-top:80px; 
    transition: transform 0.8s;


}
.X4:hover {transform: translate(20px, 20px);

  }
.X3:hover {
      transform: translate(20px, 20px);
  }
.X2:hover {
      transform: translate(20px, 20px);
  }
.X1:hover {
      transform: translate(20px, 20px);
  }
.X0:hover {
      transform: translate(20px, 20px);
  }
.X:hover {
      transform: translate(20px, 20px);
  }

.Y{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:0px;
    margin-top:-70px; 
    transition: transform 0.8s;

}
.Y0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:0px;
    margin-top:-70px; 
    transition: transform 0.8s;

}
.Y1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px; 
    transition: transform 0.8s;

}
.Y2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px; 
    transition: transform 0.8s;
}
.Y3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-70px; 
    transition: transform 0.8s;

    
}
.Y4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:5px;
    transition: transform 0.8s;

}
.Y4:hover {transform: translate(20px, 20px);

  }
.Y3:hover {
      transform: translate(20px, 20px);
  }
.Y2:hover {
      transform: translate(20px, 20px);
  }
.Y1:hover {
      transform: translate(20px, 20px);
  }
.Y0:hover {
      transform: translate(20px, 20px);
  }
.Y:hover {
      transform: translate(20px, 20px);
  }

.Z{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -174px;
    margin-left:0px;
    transition: transform 0.8s;
}
.Z0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top: -174px;
    margin-left:0px;
    transition: transform 0.8s;
}
.Z1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -174px;
    margin-left:0px;
    transition: transform 0.8s;

}
.Z2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -174px;
    margin-left:0px;
    transition: transform 0.8s;

}
.Z3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -174px;
    margin-left:0px;
    transition: transform 0.8s;


}
.Z4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: 80px;
    margin-left:85px;
    transition: transform 0.8s;

}
.Z4:hover {transform: translate(20px, 20px);

  }
.Z3:hover {
      transform: translate(20px, 20px);
  }
.Z2:hover {
      transform: translate(20px, 20px);
  }
.Z1:hover {
      transform: translate(20px, 20px);
  }
.Z0:hover {
      transform: translate(20px, 20px);
  }
.Z:hover {
      transform: translate(20px, 20px);
  }

.ONE{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;
}
.ONE0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.ONE1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.ONE2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.ONE3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    
     margin-top: -120px;
    margin-left:0px;
    transition: transform 0.8s;


}
.ONE4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:70px;
    margin-top:80px;
    transition: transform 0.8s;
}
.ONE4:hover {transform: translate(20px, 20px);

  }
.ONE3:hover {
      transform: translate(20px, 20px);
  }
.ONE2:hover {
      transform: translate(20px, 20px);
  }
.ONE1:hover {
      transform: translate(20px, 20px);
  }
.ONE0:hover {
      transform: translate(20px, 20px);
  }
.ONE:hover {
      transform: translate(20px, 20px);
  }

.TT{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:0px;
    margin-top:-65px; 
    transition: transform 0.8s;

}
.TT0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-65px; 
    transition: transform 0.8s;

}
.TT1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-65px; 
    transition: transform 0.8s;

}
.TT2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-65px; 
    transition: transform 0.8s;
}
.TT3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-65px; 
    transition: transform 0.8s;

}
.TT4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:65px;
    margin-top:80px; 
    transition: transform 0.8s;

}

.TT4:hover {transform: translate(20px, 20px);

  }
.TT3:hover {
      transform: translate(20px, 20px);
  }
.TT2:hover {
      transform: translate(20px, 20px);
  }
.TT1:hover {
      transform: translate(20px, 20px);
  }
.TT0:hover {
      transform: translate(20px, 20px);
  }
.TT:hover {
      transform: translate(20px, 20px);
  }

.SI{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;
    
}
.SI0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;
    


}
.SI1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;
    


}
.SI2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;

}
.SI3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:0px;
    margin-top:-120px; 
    transition: transform 0.8s;


}
.SI4
{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;

    margin-top: 80px;
    margin-left:-5px;
    transition: transform 0.8s;



}
.SI4:hover {transform: translate(20px, 20px);

  }
.SI3:hover {
      transform: translate(20px, 20px);
  }
.SI2:hover {
      transform: translate(20px, 20px);
  }
.SI1:hover {
      transform: translate(20px, 20px);
  }
.SI0:hover {
      transform: translate(20px, 20px);
  }
.SI:hover {
      transform: translate(20px, 20px);
  }

.FF{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
      margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.FF0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
      margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.FF1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
      margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;
}
.FF2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
      margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;

}
.FF3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;

}

.FF4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: 80px;
    margin-left:65px;
    transition: transform 0.8s;

}
.FF4:hover {transform: translate(20px, 20px);

 }
.FF3:hover {
    transform: translate(20px, 20px);
 }
.FF2:hover {
     transform: translate(20px, 20px);
 }
.FF1:hover {
     transform: translate(20px, 20px);
 }
.FF0:hover {
     transform: translate(20px, 20px);
 }
.FF:hover {
      transform: translate(20px, 20px);
  }
.N5{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-65px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N50{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-65px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N51{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-65px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N52{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top:-65px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N53{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-65px;
    margin-left:0px;
    transition: transform 0.8s;

    
   
}
.N54{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-left:70px;
    margin-top:80px;
    transition: transform 0.8s;
}
.N54:hover {transform: translate(20px, 20px);

 }
.N53:hover {
    transform: translate(20px, 20px);
 }
.N52:hover {
     transform: translate(20px, 20px);
 }
.N51:hover {
     transform: translate(20px, 20px);
 }
.N50:hover {
     transform: translate(20px, 20px);
 }
.N5:hover {
      transform: translate(20px, 20px);
  }

.N6{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N60{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;
   
   
}
.N61{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;
   
   
}
.N62{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N63{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-120px;
    margin-left:0px;
    transition: transform 0.8s;
   
   
}
.N64{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:65px;
    margin-top:80px; 
    transition: transform 0.8s;
}
.N64:hover {transform: translate(20px, 20px);

 }
.N63:hover {
    transform: translate(20px, 20px);
 }
.N62:hover {
     transform: translate(20px, 20px);
 }
.N61:hover {
     transform: translate(20px, 20px);
 }
.N60:hover {
     transform: translate(20px, 20px);
 }
.N6:hover {
      transform: translate(20px, 20px);
  }

.N7{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N70{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N71{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N72{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N73{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top:-172px;
    margin-left:0px;
    transition: transform 0.8s;
    
}
.N74{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:-74px;
    margin-top:80px; 
    transition: transform 0.8s;
    
}
.N74:hover {transform: translate(20px, 20px);

 }
.N73:hover {
    transform: translate(20px, 20px);
 }
.N72:hover {
     transform: translate(20px, 20px);
 }
.N71:hover {
     transform: translate(20px, 20px);
 }
.N70:hover {
     transform: translate(20px, 20px);
 }
.N7:hover {
      transform: translate(20px, 20px);
  }


.N8{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N80{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N81{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N82{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N83{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
    
}
.N84{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
     margin-top: 80px;
    margin-left:30px;
    transition: transform 0.8s;
}
.N84:hover {transform: translate(20px, 20px);

 }
.N83:hover {
    transform: translate(20px, 20px);
 }
.N82:hover {
     transform: translate(20px, 20px);
 }
.N81:hover {
     transform: translate(20px, 20px);
 }
.N80:hover {
     transform: translate(20px, 20px);
 }
.N8:hover {
      transform: translate(20px, 20px);
  }

.N9{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N90{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N91{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.N92{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
}
.N93{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -124px;
    margin-left:0px;
    transition: transform 0.8s;
  
   
}
.N94{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: 80px;
    margin-left:70px;
    transition: transform 0.8s;
}
.N94:hover {transform: translate(20px, 20px);

 }
.N93:hover {
    transform: translate(20px, 20px);
 }
.N92:hover {
     transform: translate(20px, 20px);
 }
.N91:hover {
     transform: translate(20px, 20px);
 }
.N90:hover {
     transform: translate(20px, 20px);
 }
.N90:hover {
      transform: translate(20px, 20px);
  }



.NU{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -122px;
    margin-left:0px;
    transition: transform 0.8s;
}
.NU0{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
   margin-top: -122px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.NU1{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -122px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.NU2{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -122px;
    margin-left:0px;
    transition: transform 0.8s;
   
}
.NU3{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-top: -122px;
    margin-left:0px;
    transition: transform 0.8s;
    
   
}
.NU4{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin-left:65px;
    margin-top:80px; 
    transition: transform 0.8s;
}
.NU4:hover {transform: translate(20px, 20px);

 }
.NU3:hover {
    transform: translate(20px, 20px);
 }
.NU2:hover {
     transform: translate(20px, 20px);
 }
.NU1:hover {
     transform: translate(20px, 20px);
 }
.NU0:hover {
     transform: translate(20px, 20px);
 }
.NU:hover {
      transform: translate(20px, 20px);
  }
.QM{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
   
}
.PM{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
   
}
.PM{
	float: left;
	width: 110px;
	height: 120px;
    position: relative;
    margin: 30px;
   
}




.line1{
	float: left;
	width: 2px;
	height: 172px;
    position: relative;

	
}


.line2{
	float: left;
	
	width: 2px;
	height: 172px;
	
	position: relative;
    
	
}
.line3{
	   float: left;
	   width: 51px;
	   height:2px;
	   background: #ED1C24;
       position: relative; 
}
.line4{
	   float: left;
	   width: 2px;
	   height:172px;
	   
       position: relative; 
}
.line5{
	   float: left;
	   width: 2px;
	   height:120px;
	   background: #ED1C24;
	   position: relative; 
}
.line6{
	   float: left;
	   width: 53px;
	   height:2px;
	   background: #ED1C24;
	   position: relative; 
}
.line7{
	   float: left;
	   width: 52px;
	   height:2px;
	   background: #ED1C24;
	   position: relative; 
}
.line8{
	   float: left;
	   width: 2px;
	   height:61px;
	   background: #ED1C24;
	   position: relative; 
}
.line9{
	   float: left;
	   width: 2px;
	   height:61px;
	  
	   position: relative; 
}
.line10{
	   float: left;
	   width: 2px;
	   height:61px;
	  
	   position: relative; 
}

.line11{
	   float: left;
	   width: 80px;
	   height:2px;
	   background: #ED1C24;
	   position: relative; 
}
.line12{
	   float: left;
	   width: 80px;
	   height:2px;
	   background: #ED1C24;
	   position: relative; 
}
.line13{
	   float: left;
	   width: 79px;
	   height:2px;
	   
	   position: relative; 
}
.line14{
	   float: left;
	   width: 80px;
	   height:2px;
	   background: #ED1C24;
	   
	   position: relative; 
}
.line16{
	   float: left;
	   width: 2px;
	   height:70px;
	   
	   
	   position: relative; 
}
.line18{
	   float: left;
	   width: 2px;
	   height:120px;
	   
	   position: relative; 
}
.line17{
	   float: left;
	   width: 2px;
	   height:120px;
	   
	   position: relative; 
}
.line19{
	   float: left;
	   width: 40px;
	   height:2px;
	   
	   
	   position: relative; 
}
.line20{
	   float: left;
	   width: 2px;
	   height:60px;
	   
	   
	   position: relative; 
}
.line21{
	   float: left;
	   width: 40px;
	   height:2px;
	   
	   position: relative; 
}