
#Frame{
    width: 1700px;
    height: 950px;
    border: 70px solid black;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: -11;
}

#squareV{
	width:70px;
	height:900px;
	background:black;
	margin-left:10px;
	position: absolute;
	z-index: -11;
}

#squareH{
	width:1620px;
	height:70px;
	background:black;
	margin-top:0px;
	position: absolute;
	z-index: -10;
}


.container1{
	       width: 780px;
           height: 200px;
            position: absolute;
            margin-top: -335px;
            margin-left: -400px;
            z-index:0;
           


}
.container2{
	       width: 780px;
           height:200px;
            position: absolute;
            margin-top: -335px;
            margin-left: 422px;
            z-index:0;
           


}
.container3{
	       width: 780px;
           height: 200px;
            position: absolute;
            margin-top:120px;
            margin-left: -400px;
            z-index:0;
           


}
.container4{
	       width:780px;
           height:200px;
            position: absolute;
            margin-top:120px;
            margin-left:422px;
            z-index:0;
           


}


.text{
	   height: 500px;
	   width: 450px;
	   margin-left: 100px;
	   margin-top:240px;

}
.title{
	font-family: 'Source Sans Pro', sans-serif;

	font-size:54px;
	text-align:left;
}

.Paragraph{
	       font-family: 'Quicksand', sans-serif;
           font-size: 18px;
	       text-align: left;
	       
	       line-height:26px;
	       margin-top: 40px;


}

.Paragraph1{
	         font-family: 'Quicksand', sans-serif;
           font-size:10px;
	       text-align: left;
	       
	       line-height:18px;
	       margin-top:30px;
}
.sub{
	 font-family: 'Source Sans Pro', sans-serif;
	 font-size:24px;
	 margin-top:-54px;
     text-align:left;
}
.sub1{
	 font-family: 'Source Sans Pro', sans-serif;
	 font-size:24px;
	 margin-top:-20px;
     text-align:left;
}


.C{
	
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(6% at 100% 100%);
clip-path: circle(6% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C:hover {
  background-color:#006ECF;
  cursor: pointer;
}
.C0{
	
	width: 770px;
	height: 405px;
	background: #00CB00;
	margin-left:0px;
	margin-top:0px;
	z-index:-11;
	position: absolute;
	-webkit-clip-path: circle(12% at 100% 100%);
clip-path: circle(12% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C0:hover {
  background-color:#3A4289;
  cursor: pointer;
}
.C1{
	width: 770px;
	height: 405px;
	background: #E30000;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(18% at 100% 100%);
clip-path: circle(18% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C1:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.C2{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(24% at 100% 100%);
clip-path: circle(24% at 100% 100%);
position: absolute;
-webkit-clip-path: circle(24% at 100% 100%);
clip-path: circle(24% at 100% 100%);
}
.C2:hover {
  background-color:#E2C100;
  cursor: pointer;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.C3{
	width:770px;
	height:405px;
	background:#3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(30% at 100% 100%);
clip-path: circle(30% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-stransition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C3:hover{
  background-color:#006ECF;
  cursor: pointer;
}
.C4{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(36% at 100% 100%);
clip-path: circle(36% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-stransition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C4:hover {
  background-color:#00BB00;
  cursor: pointer;
}

.C5{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(42% at 100% 100%);
clip-path: circle(42% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C5:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.C6{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(48% at 100% 100%);
clip-path: circle(48% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C6:hover {
  background-color: #3A4289
;
  cursor: pointer;
}
.C7{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(54% at 100% 100%);
clip-path: circle(54% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C7:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.C8{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;;
	position: absolute;
-webkit-clip-path: circle(60% at 100% 100%);
clip-path: circle(60% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C8:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.C9{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(66% at 100% 100%);
clip-path: circle(66% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C9:hover {
  background-color:#00BB00;
  cursor: pointer;
}
.C10{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(72% at 100% 100%);
clip-path: circle(72% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C10:hover {
  background-color: #3A4289;
  cursor: pointer;
}
.C11{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(78% at 100% 100%);
clip-path: circle(78% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C11:hover {
  background-color:#006ECF;
  cursor: pointer;
}
.C12{
	width: 770px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(84% at 100% 100%);
clip-path: circle(84% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C12:hover {
  background-color:#D61300
;
  cursor: pointer;
}
.C13{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(90% at 100% 100%);
clip-path: circle(90% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C13:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.C14{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(96% at 100% 100%);
clip-path: circle(96% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C14:hover {
  background-color:#00BB00
;
  cursor: pointer;
}
.C15{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(102% at 100% 100%);
clip-path: circle(102% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C15:hover {
  background-color:#3A4289
;
  cursor: pointer;
}
.C16{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(108% at 100% 100%);
clip-path: circle(108% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */

html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C16:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.C17{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(114% at 100% 100%);
clip-path: circle(114% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C17:hover {
  background-color:#FB4000
;
  cursor: pointer;
}
.C18{
	width: 770px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(120% at 100% 100%);
clip-path: circle(120% at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C18:hover {
  background-color:#D61300;
  cursor: pointer;
}
.C19{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(126% at 100% 100%);
clip-path: circle(126%s at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C19:hover {
  background-color: #00BB00;
  cursor: pointer;
}
.C20{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(132% at 100% 100%);
clip-path: circle(132%s at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C20:hover {
  background-color:#3A4289
;
  cursor: pointer;
}
.C21{
	width: 770px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(138% at 100% 100%);
clip-path: circle(138%s at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C21:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.C22{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:-10;
	position: absolute;
-webkit-clip-path: circle(144% at 100% 100%);
clip-path: circle(144%s at 100% 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.C22:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.B{
	width: 770px;
	height: 405px;
	background:#E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(6% at 0 0);
clip-path: circle(6% at 0 0);
    -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B:hover {
  background-color:#D61300;
  cursor: pointer;
}
.B0{
	width: 770px;
	height: 405px;
	background:#006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(12% at 0 0);
    clip-path: circle(12% at 0 0);
   -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B0:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.B1{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(18% at 0 0);
clip-path: circle(18% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B1:hover {
  background-color:#006ECF;
  cursor: pointer;
}
.B2{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(24% at 0 0);
clip-path: circle(24% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B2:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.B3{
	width: 760px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(30% at 0 0);
clip-path: circle(30% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B3:hover {
  background-color: #00BB00;
  cursor: pointer;
}
.B4{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(36% at 0 0);
clip-path: circle(36% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B4:hover {
  background-color:#3A4289;
  cursor: pointer;
}
.B5{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(42% at 0 0);
clip-path: circle(42% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B5:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.B6{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(48% at 0 0);
clip-path: circle(48% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B6:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.B7{
	width: 760px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(54% at 0 0);
clip-path: circle(54% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B7:hover {
  background-color:#006ECF;
  cursor: pointer;
}
.B8{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(60% at 0 0);
clip-path: circle(60% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B8:hover {
  background-color:#D61300;
  cursor: pointer;
}

.B9{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(66% at 0 0);
clip-path: circle(66% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B9:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.B10{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(72% at 0 0);
clip-path: circle(72% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}


/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B10:hover {
  background-color:#00BB00;
  cursor: pointer;
}
.B11{
	width: 760px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(78% at 0 0);
clip-path: circle(78% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B11:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.B12{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(84% at 0 0);
clip-path: circle(84% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B12:hover {
  background-color:#3A4289;
  cursor: pointer;
}
.B13{
	width: 760px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(90% at 0 0);
clip-path: circle(90% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B13:hover {
  background-color:#006ECF;
  cursor: pointer;
}
.B14{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(96% at 0 0);
clip-path: circle(96% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B14:hover {
  background-color:#D61300;
  cursor: pointer;
}
.B15{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(102% at 0 0);
clip-path: circle(102% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B15:hover {
  background-color:#00BB00;
  cursor: pointer;
}
.B16{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(108% at 0 0);
clip-path: circle(108% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B16:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.B17{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(114% at 0 0);
clip-path: circle(114% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B17:hover {
  background-color:#E2C100;
  cursor: pointer;
}
.B18{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(120% at 0 0);
clip-path: circle(120% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B18:hover {
  background-color:#006ECF;
  cursor: pointer;
}
.B19{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(126% at 0 0);
clip-path: circle(126% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B19:hover {
  background-color:#00BB00;
  cursor: pointer;
}
.B20{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(132% at 0 0);
clip-path: circle(132% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B20:hover {
  background-color:#FB4000;
  cursor: pointer;
}

.B21{
	width: 760px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;;
	position: absolute;
	-webkit-clip-path: circle(138% at 0 0);
clip-path: circle(138% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B21:hover {
  background-color:#E2C100;
  cursor: pointer;
}


.B22{
	width: 760px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(144% at 0 0);
clip-path: circle(144% at 0 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.B22:hover {
  background-color:#FB4000;

  cursor: pointer;
}

.A{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(6% at 0 100%);
clip-path: circle(6% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A0{
	width: 770px;
	height: 405px;
	background:#E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(12% at 0 100%);
clip-path: circle(12% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A0:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A1{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(18% at 0 100%);
clip-path: circle(18% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A1:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A2{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(24% at 0 100%);
clip-path: circle(24% at 0 100% );
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A2:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A3{
	width: 770px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(30% at 0 100%);
clip-path: circle(30% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A3:hover {
  background-color:#FB4000;
  cursor: pointer;
}

.A4{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(36% at 0 100%);
clip-path: circle(36% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A4:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A5{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(42% at 0 100%);
clip-path: circle(42% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A5:hover {
  background-color:#FB4000;
  cursor: pointer;
}

.A6{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(48% at 0 100%);
clip-path: circle(48% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A6:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A7{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(54% at 0 100%);
clip-path: circle(54% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A7:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A8{
	width: 770px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(60% at 0 100% );
clip-path: circle(60% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A8:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A9{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(66% at 0 100%);
clip-path: circle(66% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A9:hover {
  background-color:#FB4000;
  cursor: pointer;
}

.A10{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(72% at 0 100%);
clip-path: circle(72% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A10:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A11{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(78% at 0 100%);
clip-path: circle(78% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A11:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A12{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(84% at 0 100%);
clip-path: circle(84% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A12:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A13{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(90% at 0 100%);
clip-path: circle(90% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A13:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A14{
	width: 770px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(96% at 0 100%);
clip-path: circle(96% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A14:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A15{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(102% at 0 100%);
clip-path: circle(102% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A15:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A16{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(108% at 0 100%);
clip-path: circle(108% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A16:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A17{
	width: 770px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(114% at 0 100%);
clip-path: circle(114% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A17:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A18{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(120% at 0 100%);
clip-path: circle(120% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A18:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A19{
	width: 770px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(126% at 0 100%);
clip-path: circle(126% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A19:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A20{
	width: 770px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(132% at 0 100%);
clip-path: circle(132% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A20:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A21{
	width: 770px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(138% at 0 100%);
clip-path: circle(138% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.A21:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.A22{
	width: 770px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(144% at 0 100%);
clip-path: circle(144% at 0 100%);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;

}
.A22:hover {
  background-color:#FB4000;
  cursor: pointer;
}
.D{
	width: 770px;
	height: 405px;
	background:#00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(6% at 100% 0);
clip-path: circle(6% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D:hover {
  background-color:black;
  cursor: pointer;
}
.D0{
	width: 770px;
	height: 405px;
	background:#3A4289;
	margin-left:-10px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(12% at 100% 0);
clip-path: circle(12% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D0:hover {
  background-color:black;
  cursor: pointer;
}
.D1{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(18% at 100% 0);
clip-path: circle(18% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D1:hover {
  background-color:black;
  cursor: pointer;
}
.D2{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(24% at 100% 0);
clip-path: circle(24% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D2:hover {
  background-color:black;
  cursor: pointer;
}
.D3{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(30% at 100% 0);
clip-path: circle(30% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D3:hover {
  background-color:black;
  cursor: pointer;
}

.D4{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(36% at 100% 0);
clip-path: circle(36% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D4:hover {
  background-color:black;
  cursor: pointer;
}
.D5{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(42% at 100% 0);
clip-path: circle(42% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D5:hover {
  background-color:black;
  cursor: pointer;
}
.D6{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(48% at 100% 0);
clip-path: circle(48% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D6:hover {
  background-color:black;
  cursor: pointer;
}
.D7{
	width: 760px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(54% at 100% 0);
clip-path: circle(54% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D7:hover {
  background-color:black;
  cursor: pointer;
}
.D8{
	width: 760px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(60% at 100% 0);
clip-path: circle(60% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D8:hover {
  background-color:black;
  cursor: pointer;
}
.D9{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(66% at 100% 0);
clip-path: circle(66% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D9:hover {
  background-color:black;
  cursor: pointer;
}
.D10{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(72% at 100% 0);
clip-path: circle(72% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D10:hover {
  background-color:black;
  cursor: pointer;
}
.D11{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(78% at 100% 0);
clip-path: circle(78% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D11:hover {
  background-color:black;
  cursor: pointer;
}
.D12{
	width: 760px;
	height: 405px;
	background: #3A4289;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(84% at 100% 0);
clip-path: circle(84% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D12:hover {
  background-color:black;
  cursor: pointer;
}

.D13{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(90% at 100% 0);
clip-path: circle(90% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D13:hover {
  background-color:black;
  cursor: pointer;
}
.D14{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(96% at 100% 0);
clip-path: circle(96% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D14:hover {
  background-color:black;
  cursor: pointer;
}
.D15{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(102% at 100% 0);
clip-path: circle(102% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D15:hover {
  background-color:black;
  cursor: pointer;
}
.D16{
	width: 760px;
	height: 405px;
	background: #00BB00;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(108% at 100% 0);
clip-path: circle(108% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D16:hover {
  background-color:black;
  cursor: pointer;
}
.D17{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(114% at 100% 0);
clip-path: circle(114% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D17:hover {
  background-color:black;
  cursor: pointer;
}
.D18{
	width: 760px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(120% at 100% 0);
clip-path: circle(120% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D18:hover {
  background-color:black;
  cursor: pointer;
}
.D19{
	width: 760px;
	height: 405px;
	background: #FB4000;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(126% at 100% 0);
clip-path: circle(126% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D19:hover {
  background-color:black;
  cursor: pointer;
}
.D20{
	width: 760px;
	height: 405px;
	background: #006ECF;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(132% at 100% 0);
clip-path: circle(132% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D20:hover {
  background-color:black;
  cursor: pointer;
}
.D21{
	width: 760px;
	height: 405px;
	background: #E2C100;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
	-webkit-clip-path: circle(138% at 100% 0);
clip-path: circle(138% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.D21:hover {
  background-color:black;
  cursor: pointer;
}
.D22{
	width: 760px;
	height: 405px;
	background: #D61300;
	margin-left:0px;
	margin-top:0px;
	z-index:0;
	position: absolute;
    -webkit-clip-path: circle(144% at 100% 0);
clip-path: circle(144% at 100% 0);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.D22:hover {
  background-color:black;
  cursor: pointer;
}

body a {
    text-decoration: none;
}
.thumb {
	width: auto;
	height: auto;

    display: inline;
    max-height: 200px;
    margin-top: 390px;
    margin-left: -750px;
}
#thumblist {
    text-align: center;
    border-radius: 8px;
    padding: 0;
    background: none;
    z-index:2;
}
#thumblist img {
    border-radius: 8px;
}
.description {
      color: white;
      text-decoration: none;
}

/** relevant CSS Below **/

.lightbox {
    display: none; /**sets the default display to hide the lightbox until it's the :target**/
    position: fixed; /**the rest of this styling makes the lightbox full screen when selected**/
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    -moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;	
}
.lightbox img { /**sets the styling of the image in the lightbox**/
    max-width: 80%;
    max-height: 90%;
    text-align: center;
    -moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;	 

   
    
}
.lightbox:target { /**this is where the magic happens. makes the lightbox display when it's the target of a clickable link**/
    outline: none;
    display: block;
    transition: background 0.3s ease;
}
.OG{
	margin-left:0px;
	margin-top:200px;
}
.CR{
	margin-left:680px;
	margin-top:-400px;
}
.previous { /**styling the left arrow**/
    position: fixed;
    left: 4px;
    top: 40%;
    width: 40px;
}
.exit { /**styling the exit button**/
    position: fixed;
    top: 4px;
    right: 4px;
    width: 40px;
}
.next { /**styling the right arrow**/
    position: fixed;
    right: 4px;
    top: 40%;
    width: 40px;
}
.btm{
	  margin-top:660px;
	  margin-left: 1415px;
}
.nextp{
	    margin-left:1450px;
	    margin-top: 690px;
	    z-index: 0;
}


